.header_row{
	display: inline-block;
	padding-right: 20px;
	font-family: Calibri, Times New Roman, Arial;
}
table{
	border-collapse: collapse;
	font-family: Calibri, Times New Roman, Arial;
}
thead, th, td{
	border: 1px solid black;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
	text-align: center;
	font-family: Calibri, Times New Roman, Arial;
}
